@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ContentContainer {
  flex-grow: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.section {
  margin-bottom: 40px;
}

.section .MuiPaper-root {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section .MuiPaper-root:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
